table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 10px 10px #2a2b2c66;
  background: #11111122;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  // background-color: #f2f2f2
  background: #1d1d1d22;
}

table:first-child {
  background-color: #4caf50;
}

th {
  background-color: #4caf50;
  color: white;
}
