.upgrade.window {
  display: none;
  z-index: 10000;
}

.displayUpgrades .upgrade.window,
.absoluteCenter {
  display: table;
  position: fixed;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.upgrade.frame {
  // .image {
  //   width: 100%;
  //   height: 100%;
  // }

  // .title {
  //   width: 100%;
  //   height: 100%;
  // }
  // .description{
  //   font-size: 1em;
  //   text-align: center;
  // }

  // display: flex;
  // border-color: #1a1a1a;
  // background: #1a1a1a;
  color: #ffffff;
  width: max-content;
  height: max-content;
}
